body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@media (min-width: 576px) {
  .container {
    max-width:540px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px
  }
  .header-title {
    padding-top: 14px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

.header {
  /* padding: 20px 0; */
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.footer {
  padding: 20px 0 10px 0;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: grey;
}

.lang-switcher {
  cursor: pointer;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  width: 20px;
}

.lang-switcher:hover {
  border: 1px solid lightblue;
}

.top-menu {
  width: "140px";
  float: right;
}

.anticon-close-circle {
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
  font-size: 12px;
}
.anticon-close-circle:hover {
  color: #999;
}
.anticon-close-circle:active {
  color: #666;
}

.ant-list-pagination {
  text-align: center;
  margin-bottom: 16px;
}

.header-title a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.65);
}

.login-form {
  margin-top: 20px;
  min-height: 200px;
}

.exampleCard {
  margin-right: 5px;
  margin-bottom: 5px;
}

.exampleCard:hover {
  border: 1px solid #aaaaaa;
}

.exampleCardSelected {
  border: 1px solid #aaaaaa;
}

.exampleCard .ant-card-body {
  padding: 12px;
}

.steps-content {
  margin-top: 20px;
  padding: 10px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 200px;
}

.step-actions {
  margin-top: 20px;
  min-height: 32px;
}