# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/text2json-parser/node_modules
/ReactApp/node_modules

# testing
/ReactApp/coverage

# production
/ReactApp/build
/ReactApp/public/audio

# misc
/ReactApp/.DS_Store
/ReactApp/.env.local
/ReactApp/.env.development.local
/ReactApp/.env.test.local
/ReactApp/.env.production.local

/text2json-parser/npm-debug.log*
/ReactApp/npm-debug.log*
/ReactApp/yarn-debug.log*
/ReactApp/yarn-error.log*
