# See https://help.github.com/ignore-files/ for more about ignoring files.

# parser
/text2json-parser/node_modules
/text2json-parser/npm-debug.log*

# react client

/client/node_modules

/client/coverage

/client/build
/client/public/audio

/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*


# sails backend

/server/config/local.js

/server/node_modules
/server/bower_components

/server/.tmp
/server/dump.rdb

/server/lib-cov
/server/*.seed
/server/*.log
/server/*.out
/server/*.pid
/server/npm-debug.log

/server/*~
/server/*#
/server/.DS_STORE
/server/.netbeans
/server/nbproject
/server/.idea
/server/.node_history
