.not-matching {
    display: none;
}
.entry {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    margin: 0 0 5px 0;
}
.selected {
    font-size: 1.2em;
    background: rgba(255,255,0,.125);
    border-width: 3px;
    box-shadow: 5px 5px yellow;
}
.title {
    font-weight: bold;
    display: inline-block;
    min-width: 20%;
}
.sound {
    color: gray;
    display: inline-block;
    min-width: 30%;
}
.sound:before {
    content: '\1F4AC\0020';
    white-space: nowrap;
}
.meaning {
    font-style: italic;
    display: inline-block;
}
.desc {
    font-size: 1em;
}